/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@1,600&display=swap");
@font-face {
    font-family: "GangwonEdu_OTFBoldA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {
    font-family: "Lora", serif;
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fcfafa;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

ul,
ol {
    padding: 0;
}

li {
    list-style: none;
}

/* styles */
.question-title,
.result-product,
.result-keywords li,
.result-description {
    font-family: "GangwonEdu_OTFBoldA";
}

.loading {
    overflow: hidden;
    width: 0;
    height: 0;
}

.start {
    width: 350px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-title {
    font-size: 40px;
    font-weight: 700;
    color: #333;
}

.start-img {
    width: 230px;
    height: 300px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.start-btn {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    padding: 10px 0;
}

.quote-container {
    position: absolute;
    bottom: 10px;
    max-width: 1000px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    padding: 0 10px;
}

.quote {
    font-weight: 500;
    margin: 0;
}

.quote-author {
    font-size: 13px;
}

.home {
    border-radius: 3px;
    transition: all 0.2s ease;
}

.home:hover {
    opacity: 0.7;
}

.result-img {
    width: 220px;
    height: 320px;
    border-radius: 16px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.question {
    width: 500px;
    transform: translateY(-50px);
}

.question-title {
    margin-bottom: 20px;
}

.question button {
    background: transparent;
}

.question img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.question img:hover {
    opacity: 0.6;
}

.question .btn-container {
    display: flex;
    justify-content: space-evenly;
}

.result-loading {
    display: flex;
    flex-direction: column;
}

.result-loading p {
    color: #444;
    font-size: 25px;
    font-weight: 700;
}

.square-cont {
    display: flex;
    justify-content: center;
}

.square {
    width: 10px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
    animation: bounce 0.7s ease-in infinite;
}

.square:nth-of-type(2) {
    animation-delay: 0.1s;
}

.square:nth-of-type(3) {
    animation-delay: 0.2s;
}

.square:nth-of-type(4) {
    animation-delay: 0.3s;
}

.square:nth-of-type(5) {
    animation-delay: 0.4s;
}

.share {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.result-brand {
    color: #333;
}

.result-product {
    font-size: 35px;
}

.result-keywords {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.result-keywords li {
    font-size: 1.2em;
    color: #777;
    margin-right: 1em;
}

.result-keywords li:last-child {
    margin-right: 0;
}

.result-description {
    max-width: 450px;
    font-size: 20px;
    color: #333;
    word-break: keep-all;
    padding-top: 12px;
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
}

.link-wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.kor-link,
.eng-link {
    position: relative;
    width: 50%;
    padding: 3px;
    transition: all 0.2s ease;
}

.kor-link:hover,
.eng-link:hover {
    color: #fff;
    background-color: #777;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
}

/* animation */
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* responsive */
@media screen and (max-width: 768px) {
    /* 1. Intro */
    .quote-container .quote,
    .quote-container .quote-author {
        font-size: 12px;
    }

    /* 2. Questions */
    .question {
        width: 400px;
    }

    .question-title {
        font-size: 24px;
        margin-top: 24px !important;
    }

    .question .btn-container {
        overflow: hidden;
    }

    .btn-container button {
        width: 50%;
    }

    .question img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        margin-top: 0;
    }

    /* 3. Result */
    .result {
        padding-top: 16px;
    }

    .result .home {
        color: #fff;
        background-color: #777;
        padding: 2px 10px;
    }

    .result-brand {
        font-size: 20px;
    }

    .result-product {
        font-size: 26px;
    }

    .result-img {
        width: 160px;
        height: 240px;
    }

    .question img:hover {
        opacity: 1;
    }

    .question img:active {
        opacity: 0.6;
    }

    .result-keywords li,
    .result-description {
        font-size: 18px;
    }

    .link-wrap {
        gap: 10px;
    }

    .link-wrap a {
        color: #fff;
        background-color: #777;
        border-radius: 4px;
    }

    .link-wrap a:hover,
    .link-wrap a:active {
        background-color: #999;
    }
}
